<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCalendarsUsageDescription</key>
	<string>DockDoor uses EventKit to fetch task info from Calendar.</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>DockDoor uses AppleEvents to fetch music info from Music and Spotify.</string>
	<key>LSUIElement</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://dockdoor.kepler.cafe/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>ANSWtGdda5j5Jgr53GvK7uE4KLaVs2cNFD8nKWXWrlI=</string>
</dict>
</plist>
