body {
    font-family: system-ui;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #000000;
}

header /*, footer */ {
    background-color: #002244;
    color: #fff !important;
    padding: 10px 20px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}


a {
    /* color: #3498db; */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.faq-item {
    margin-bottom: 10px;
}

pre {
    position: relative;
}

pre.inline {
    display: inline;
}

.copy-button {
    position: absolute;
    inset: 5px 5px auto auto;
    width: 1em; height: 1em;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: -3px 3px #999;
    display: inline-block;
    cursor: pointer;
}

li, ul {
    margin-bottom: 10px;
    margin-top: 10px;
}


.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

/*.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}

.dropdown:hover .dropbtn {
    background-color: #333;
    border-radius: 10px;
} */

/* Button for dropdown */
.dropbtn {
    background-color: #002244;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.centered {
    text-align: center;
}

.intro {
    font-size: xxx-large;
}

.s-intro {
    font-size: xx-large;
}

.explanation {
    font-size: large;
}

.quick-links {
    text-align: right;
}

#apptitle {
    width: 630px;
    height: 500px;
    max-width: 100%;
    object-fit: contain;
}

.purple-highlight {
    background-color: #a845d6;
    color: white !important;
    border-radius: 5px;
    padding: 4px;
}

.red-highlight {
    background-color: #ff362f;
    color: white !important;
    border-radius: 5px;
    padding: 4px;
}

.yellow-highlight {
    background-color: #ffc72a;
    color: black;
    border-radius: 5px;
    padding: 4px;
}

.green-highlight {
    background-color: #13c055;
    color: black;
    border-radius: 5px;
    padding: 4px;
}

.button {
    background-color: #002244;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
