name: Lint
on: pull_request

jobs:
  Lint:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: SwiftFormat
        run: swift run -c release --package-path BuildTools swiftformat --lint . --reporter github-actions-log
