name: Update changelog on release published

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  changelog:
    name: Update changelog
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          ref: main

      - name: Update changelog from release
        uses: rhysd/changelog-from-release/action@v3
        with:
          file: CHANGELOG.md
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_summary_template: "chore: update changelog for %s"
          pull_request: true
          header: |
            <style>
              h1:first-of-type {
                  display: none;
              }
              .my-5 {
                  margin: unset !important;
              }
              .markdown-body img {
                 max-width: 50%;
              }
              
              @media (prefers-color-scheme: dark) {
                  body {
                      color-scheme: dark;
                      color: white;
                      background: transparent;
                  }
                  a, :link {
                      color: #419cff;
                  }
                  a:active, link:active {
                      color: #ff1919;
                  }
              }
            </style>
